<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new releases and find your favorite songs<br> All you get is this text and a mostly barebones HTML document.</p>
<form>
    <div class="form-group">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">   
    </div>    
</form>

<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4><a routerLink="/artist/{{res.id}}">{{res.name}}</a></h4> 
                    <div>
                        <strong>Genres: </strong>
                        <span *ngFor="let genre of res.genres">{{genre}}</span>    
                    </div>   
                </div>    
            </div>    
        </div>
    </div>
</div>